@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700);
/* line 5, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../_sass/base/_buttons.scss */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #67c39e;
  border-radius: 0.2em;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 11pt;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
/* line 21, ../_sass/base/_buttons.scss */
button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover,
button:focus {
  background-color: #3f9f78;
  color: #fff;
}
/* line 27, ../_sass/base/_buttons.scss */
button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* line 1, ../_sass/base/_forms.scss */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.5em;
  padding: 1em;
}

/* line 8, ../_sass/base/_forms.scss */
input,
label,
select {
  display: block;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 11pt;
}

/* line 16, ../_sass/base/_forms.scss */
label {
  font-weight: 600;
  margin-bottom: 0.25em;
}
/* line 20, ../_sass/base/_forms.scss */
label.required::after {
  content: "*";
}
/* line 24, ../_sass/base/_forms.scss */
label abbr {
  display: none;
}

/* line 29, ../_sass/base/_forms.scss */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple=multiple],
textarea {
  background-color: #333;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 11pt;
  margin-bottom: 0.5em;
  padding: 0.33333em;
  transition: border-color;
  width: 100%;
}
/* line 44, ../_sass/base/_forms.scss */
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
  border-color: #c4c4c4;
}
/* line 48, ../_sass/base/_forms.scss */
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
  border-color: #67c39e;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(85, 188, 146, 0.7);
  outline: none;
}

/* line 55, ../_sass/base/_forms.scss */
textarea {
  resize: vertical;
}

/* line 59, ../_sass/base/_forms.scss */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* line 63, ../_sass/base/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.25em;
}

/* line 69, ../_sass/base/_forms.scss */
input[type="file"] {
  padding-bottom: 0.5em;
  width: 100%;
}

/* line 74, ../_sass/base/_forms.scss */
select {
  margin-bottom: 1em;
  max-width: 100%;
  width: auto;
}

/* line 1, ../_sass/base/_lists.scss */
ul,
ol {
  list-style-type: initial;
  margin: 0;
  padding: 0;
}
/* line 6, ../_sass/base/_lists.scss */
ul li,
ol li {
  margin-left: 1em;
}
/* line 23, ../_sass/base/_lists.scss */
dl dt {
  font-weight: bold;
  margin: 0;
}
/* line 28, ../_sass/base/_lists.scss */
dl dd {
  margin: 0 0 0.5em;
}

/* line 1, ../_sass/base/_tables.scss */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.5em 0;
  table-layout: fixed;
  width: 100%;
}

/* line 9, ../_sass/base/_tables.scss */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.5em 0;
  text-align: left;
}

/* line 16, ../_sass/base/_tables.scss */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.5em 0;
}

/* line 21, ../_sass/base/_tables.scss */
tr,
td,
th {
  vertical-align: middle;
}

@font-face {
  font-family: 'love_and_passion';
  src: url("love_and_passion-webfont.woff2") format("woff2"), url("love_and_passion-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 13, ../_sass/base/_typography.scss */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 11pt;
  line-height: 1.618;
  font-weight: 300;
}

/* line 23, ../_sass/base/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "love_and_passion", "Rouge Script", cursive;
  font-size: 11pt;
  line-height: 1em;
  padding: 0.718em 0 0.309em 0;
}

/* line 36, ../_sass/base/_typography.scss */
h3 {
  font-size: 1.8em;
}

/* line 39, ../_sass/base/_typography.scss */
h2 {
  font-size: 2.6em;
}

/* line 43, ../_sass/base/_typography.scss */
p {
  margin: 0 0 0.5em;
}

/* line 47, ../_sass/base/_typography.scss */
a {
  color: #67c39e;
  text-decoration: none;
  transition: color 0.1s linear;
  cursor: pointer;
}
/* line 53, ../_sass/base/_typography.scss */
a:active, a:focus, a:hover {
  color: #3f9f78;
}
/* line 59, ../_sass/base/_typography.scss */
a:active, a:focus {
  outline: none;
}

/* line 65, ../_sass/base/_typography.scss */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1em 0;
}

/* line 73, ../_sass/base/_typography.scss */
strong {
  font-weight: 700;
}

/* line 76, ../_sass/base/_typography.scss */
img,
picture {
  margin: 0;
  max-width: 100%;
}

/* line 82, ../_sass/base/_typography.scss */
footer li {
  white-space: nowrap;
}

/* line 4, ../_sass/neat/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, ../_sass/neat/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 1, ../_sass/_layout.scss */
body {
  background: #333;
  overflow-x: hidden;
}

/* line 5, ../_sass/_layout.scss */
header {
  padding: 0;
  background: white;
  box-shadow: 0 0 0.5em #333;
  z-index: 10;
}

/* line 11, ../_sass/_layout.scss */
main {
  background: white;
  padding-bottom: 1em;
}

/* line 15, ../_sass/_layout.scss */
footer {
  color: #ddd;
  text-align: center;
  text-shadow: 0.1em 0.1em 0.1em #000;
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding-bottom: 2em;
}
/* line 21, ../_sass/_layout.scss */
footer section {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 24, ../_sass/_layout.scss */
footer li {
  display: inline;
  padding: 0 1em;
}
/* line 28, ../_sass/_layout.scss */
footer a {
  color: #67c39e;
}

/* line 33, ../_sass/_layout.scss */
section {
  padding: 1em 0;
}
/* line 20, ../_sass/bourbon/addons/_clearfix.scss */
section::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 40em) {
  /* line 37, ../_sass/_layout.scss */
  article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../_sass/neat/grid/_span-columns.scss */
  article:last-child {
    margin-right: 0;
  }
}

/* line 42, ../_sass/_layout.scss */
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}
/* line 20, ../_sass/bourbon/addons/_clearfix.scss */
.container::after {
  clear: both;
  content: "";
  display: table;
}

/* line 46, ../_sass/_layout.scss */
p {
  padding-bottom: 0.2em;
}

/* line 49, ../_sass/_layout.scss */
a img {
  vertical-align: middle;
}

/* line 52, ../_sass/_layout.scss */
img.aside {
  float: right;
  margin: 0 0 0.5em 0.5em;
}

/* line 56, ../_sass/_layout.scss */
.video {
  position: relative;
  height: 0;
  padding: 0 0 56.25% 0;
  margin: 0;
}
/* line 62, ../_sass/_layout.scss */
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 70, ../_sass/_layout.scss */
.slogan {
  font-family: "love_and_passion", "Rouge Script", cursive;
  font-size: 1.728em;
  text-align: center;
  color: #67c39e;
}

/* line 76, ../_sass/_layout.scss */
.fix {
  height: 180px;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: relative;
}
/* line 83, ../_sass/_layout.scss */
.fix:before, .fix:after {
  content: ' ';
  position: absolute;
  box-shadow: 0 0 0.5em #333;
  width: 110%;
  left: -5%;
  height: 0.5em;
}
/* line 91, ../_sass/_layout.scss */
.fix:before {
  top: -0.5em;
}
/* line 94, ../_sass/_layout.scss */
.fix:after {
  bottom: -0.5em;
}
@media screen and (min-width: 40em) {
  /* line 76, ../_sass/_layout.scss */
  .fix {
    height: 500px;
    background-attachment: fixed;
  }
}

/* line 8, ../_sass/_backgrounds.scss */
.what .fix {
  background-image: url(../img/bg/pose-320.jpg);
}

/* line 11, ../_sass/_backgrounds.scss */
.prices .fix {
  background-image: url(../img/bg/signing-320.jpg);
}

/* line 14, ../_sass/_backgrounds.scss */
.examples .fix {
  background-image: url(../img/bg/hair-320.jpg);
}

/* line 17, ../_sass/_backgrounds.scss */
.about .fix {
  background-image: url(../img/bg/groomsmen-320.jpg);
}

/* line 20, ../_sass/_backgrounds.scss */
footer .fix {
  background-image: url(../img/bg/walking-320.jpg);
}

@media screen and (min-width: 320px) {
  /* line 25, ../_sass/_backgrounds.scss */
  .what .fix {
    background-image: url(../img/bg/pose-480.jpg);
  }

  /* line 28, ../_sass/_backgrounds.scss */
  .prices .fix {
    background-image: url(../img/bg/signing-480.jpg);
  }

  /* line 31, ../_sass/_backgrounds.scss */
  .examples .fix {
    background-image: url(../img/bg/hair-480.jpg);
  }

  /* line 34, ../_sass/_backgrounds.scss */
  .about .fix {
    background-image: url(../img/bg/groomsmen-480.jpg);
  }

  /* line 37, ../_sass/_backgrounds.scss */
  footer .fix {
    background-image: url(../img/bg/walking-480.jpg);
  }
}
@media screen and (min-width: 480px) {
  /* line 25, ../_sass/_backgrounds.scss */
  .what .fix {
    background-image: url(../img/bg/pose-720.jpg);
  }

  /* line 28, ../_sass/_backgrounds.scss */
  .prices .fix {
    background-image: url(../img/bg/signing-720.jpg);
  }

  /* line 31, ../_sass/_backgrounds.scss */
  .examples .fix {
    background-image: url(../img/bg/hair-720.jpg);
  }

  /* line 34, ../_sass/_backgrounds.scss */
  .about .fix {
    background-image: url(../img/bg/groomsmen-720.jpg);
  }

  /* line 37, ../_sass/_backgrounds.scss */
  footer .fix {
    background-image: url(../img/bg/walking-720.jpg);
  }
}
@media screen and (min-width: 720px) {
  /* line 25, ../_sass/_backgrounds.scss */
  .what .fix {
    background-image: url(../img/bg/pose-1080.jpg);
  }

  /* line 28, ../_sass/_backgrounds.scss */
  .prices .fix {
    background-image: url(../img/bg/signing-1080.jpg);
  }

  /* line 31, ../_sass/_backgrounds.scss */
  .examples .fix {
    background-image: url(../img/bg/hair-1080.jpg);
  }

  /* line 34, ../_sass/_backgrounds.scss */
  .about .fix {
    background-image: url(../img/bg/groomsmen-1080.jpg);
  }

  /* line 37, ../_sass/_backgrounds.scss */
  footer .fix {
    background-image: url(../img/bg/walking-1080.jpg);
  }
}
@media screen and (min-width: 1080px) {
  /* line 25, ../_sass/_backgrounds.scss */
  .what .fix {
    background-image: url(../img/bg/pose-1620.jpg);
  }

  /* line 28, ../_sass/_backgrounds.scss */
  .prices .fix {
    background-image: url(../img/bg/signing-1620.jpg);
  }

  /* line 31, ../_sass/_backgrounds.scss */
  .examples .fix {
    background-image: url(../img/bg/hair-1620.jpg);
  }

  /* line 34, ../_sass/_backgrounds.scss */
  .about .fix {
    background-image: url(../img/bg/groomsmen-1620.jpg);
  }

  /* line 37, ../_sass/_backgrounds.scss */
  footer .fix {
    background-image: url(../img/bg/walking-1620.jpg);
  }
}
/* line 13, ../_sass/_menu.scss */
header {
  text-align: center;
  position: relative;
  border-bottom: 1px solid #999;
  background: url(../img/light_noise_diagonal.png);
  font-size: 1.2em;
  /*  &:after {
      position: absolute;
      content: ' ';
      background: white;
      height: 1.5em;
      width: 3em;
      border-radius: 0 0 2.5em 2.5em;
      bottom: -1.3em;
      margin-left: -1.5em;
      left: 50%;
      z-index: 2;
      box-shadow: $base-box-shadow;
      display: none;
      background: url(../img/light_noise_diagonal.png);
      @media only screen and (min-width: $menu-collapse-lines) {
        display: block;
      }
      @media only screen and (min-width: $menu-collapse-large) {
        height: 2.5em;
        width: 5em;
        bottom: -2.3em;
        margin-left: -2.5em;
      }
    }*/
}
/* line 44, ../_sass/_menu.scss */
header h1 {
  font-size: 1.8em;
  line-height: 1em;
  margin: 0;
  color: #67c39e;
  padding: 0;
  visibility: hidden;
}
@media only screen and (min-width: 20em) {
  /* line 44, ../_sass/_menu.scss */
  header h1 {
    font-size: 2em;
    visibility: visible;
    padding: 0.5em 1.5em 0 0;
  }
}
@media only screen and (min-width: 38em) {
  /* line 44, ../_sass/_menu.scss */
  header h1 {
    font-size: 3em;
    padding: 0 0 0 0.35em;
  }
}
@media only screen and (min-width: 59em) {
  /* line 44, ../_sass/_menu.scss */
  header h1 {
    padding: 0.5em 0 0 0;
  }
}
@media only screen and (min-width: 38em) {
  /* line 63, ../_sass/_menu.scss */
  header h1 span {
    font-size: 0.45em;
    vertical-align: text-top;
    padding: 0 0.2em 0 0.8em;
  }
}
@media only screen and (min-width: 59em) {
  /* line 63, ../_sass/_menu.scss */
  header h1 span {
    font-size: 0.8em;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin-top: -0.2em;
  }
}
@media only screen and (min-width: 38em) {
  /* line 77, ../_sass/_menu.scss */
  header h1 br {
    display: none;
  }
}
/* line 83, ../_sass/_menu.scss */
header nav {
  margin-top: 0.5em;
  border-top: 1px solid #67c39e;
  background: white;
  z-index: 4;
  position: relative;
  background: url(../img/light_noise_diagonal.png);
}
/* line 91, ../_sass/_menu.scss */
header button {
  display: none;
}
/* line 94, ../_sass/_menu.scss */
header ul {
  font-size: 1.2em;
  margin: auto;
  max-width: 19em;
}
@media only screen and (min-width: 50em) {
  /* line 94, ../_sass/_menu.scss */
  header ul {
    max-width: 100%;
  }
}
/* line 101, ../_sass/_menu.scss */
header ul li {
  display: inline;
  margin-left: 0;
}
/* line 104, ../_sass/_menu.scss */
header ul li a {
  color: #333;
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  line-height: 3em;
  width: 100%;
  display: inline-block;
  transition: all 0.75s ease;
}
/* line 114, ../_sass/_menu.scss */
header ul li a:hover {
  background: #46b186;
  color: white;
}
@media only screen and (min-width: 14em) {
  /* line 104, ../_sass/_menu.scss */
  header ul li a {
    width: 6em;
  }
}
@media only screen and (min-width: 59em) {
  /* line 123, ../_sass/_menu.scss */
  header ul li:nth-of-type(2) {
    margin-right: 5.5em;
  }
}
/* line 130, ../_sass/_menu.scss */
header .logo {
  position: absolute;
  top: 0.5em;
  z-index: 1;
}
/* line 136, ../_sass/_menu.scss */
header .facebook img, header .vimeo img {
  height: 3em;
}
/* line 140, ../_sass/_menu.scss */
header .facebook {
  left: 0.5em;
}
/* line 143, ../_sass/_menu.scss */
header .vimeo {
  right: 0.5em;
}

/* line 147, ../_sass/_menu.scss */
#w-logo {
  position: absolute;
  width: 3.25em;
  height: 3.25em;
  left: 50%;
  top: 0.4em;
  margin-left: -1.625em;
  z-index: 6;
  border: 0.18em solid #67c39e;
  border-radius: 50%;
}
/* line 157, ../_sass/_menu.scss */
#w-logo svg {
  height: 76%;
  margin-top: 12%;
}
@media only screen and (min-width: 20em) {
  /* line 147, ../_sass/_menu.scss */
  #w-logo {
    margin-left: 1.6em;
    top: 1.6em;
  }
}
@media only screen and (min-width: 38em) {
  /* line 147, ../_sass/_menu.scss */
  #w-logo {
    margin-left: -1.625em;
    top: 2.4em;
    background: url(../img/light_noise_diagonal.png);
  }
}
@media only screen and (min-width: 59em) {
  /* line 147, ../_sass/_menu.scss */
  #w-logo {
    width: 6.5em;
    height: 6.5em;
    margin-left: -3.25em;
    top: 4em;
    border-width: 0.3em;
  }
}

/* line 179, ../_sass/_menu.scss */
#backtop {
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 4em;
  width: 4em;
  background: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: "Open Sans Condensed", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 700;
  box-shadow: 0 0 0.5em #333;
  transition: right 1s ease;
}
/* line 193, ../_sass/_menu.scss */
#backtop.show {
  max-height: 5em;
}
/* line 196, ../_sass/_menu.scss */
#backtop:hover {
  background: #67c39e;
  color: white;
}
/* line 200, ../_sass/_menu.scss */
#backtop.hidden {
  right: -5em;
}

/* line 1, ../_sass/_articles.scss */
.why {
  padding-top: 0;
}
/* line 3, ../_sass/_articles.scss */
.why article {
  padding-top: 1em;
  float: none;
  width: auto;
}
@media screen and (min-width: 40em) {
  /* line 3, ../_sass/_articles.scss */
  .why article {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
  }
}
@media screen and (min-width: 62.5em) {
  /* line 3, ../_sass/_articles.scss */
  .why article {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-count: 3;
  }
}

/* line 16, ../_sass/_articles.scss */
.what .timeline {
  background: linear-gradient(to right, #67c39e, #67c39e 2px) repeat-y 50%;
  background-size: 2px;
  position: relative;
  margin-top: 2em;
  padding-top: 1em;
}
/* line 20, ../_sass/bourbon/addons/_clearfix.scss */
.what .timeline::after {
  clear: both;
  content: "";
  display: table;
}
/* line 24, ../_sass/_articles.scss */
.what .timeline aside {
  text-align: center;
}
/* line 28, ../_sass/_articles.scss */
.what .timeline img {
  width: 9em;
  height: 9em;
  border-radius: 4.5em;
  border: 2px solid #67c39e;
}
/* line 34, ../_sass/_articles.scss */
.what .timeline h3 {
  text-align: right;
  padding-top: 0;
}
/* line 38, ../_sass/_articles.scss */
.what .timeline section {
  position: relative;
  border-radius: 0.6em;
  padding: 0.25em 0 0 0;
}
/* line 44, ../_sass/_articles.scss */
.what .timeline section:nth-child(even) h3 {
  text-align: left;
}
/* line 48, ../_sass/_articles.scss */
.what .timeline [data-anim] {
  padding: 1em;
}
@media screen and (min-width: 24em) {
  /* line 52, ../_sass/_articles.scss */
  .what .timeline aside {
    max-width: 9em;
    float: left;
    margin: 0 1em 0 0;
  }
  /* line 58, ../_sass/_articles.scss */
  .what .timeline section:nth-child(even) aside {
    float: right;
    margin: 0 0 0 1em;
  }
}
@media screen and (min-width: 40em) {
  /* line 65, ../_sass/_articles.scss */
  .what .timeline aside {
    max-width: 100%;
    float: none;
    margin: 0;
  }
  /* line 70, ../_sass/_articles.scss */
  .what .timeline section {
    float: left;
    padding: 0 4% 2em 0;
    width: 50%;
  }
  /* line 74, ../_sass/_articles.scss */
  .what .timeline section:before {
    content: ' ';
    border-bottom: 2px solid #67c39e;
    display: block;
    position: absolute;
    width: 10%;
    height: 2em;
  }
  /* line 83, ../_sass/_articles.scss */
  .what .timeline section:nth-child(odd):before {
    right: 0;
  }
  /* line 86, ../_sass/_articles.scss */
  .what .timeline section:nth-child(even) {
    float: right;
    padding: 2em 0 0 4%;
  }
  /* line 89, ../_sass/_articles.scss */
  .what .timeline section:nth-child(even):before {
    left: 0;
  }
  /* line 92, ../_sass/_articles.scss */
  .what .timeline section:nth-child(even) aside {
    max-width: 100%;
    float: none;
    margin: 0;
  }
}
/* line 99, ../_sass/_articles.scss */
.what .timeline:before {
  top: -1em;
}
@media screen and (min-width: 64em) {
  /* line 103, ../_sass/_articles.scss */
  .what .timeline aside {
    max-width: 9em;
    float: left;
    margin: 0 1em 0 0;
  }
  /* line 109, ../_sass/_articles.scss */
  .what .timeline section:nth-child(even) aside {
    float: right;
    margin: 0 0 0 1em;
  }
}

/* line 117, ../_sass/_articles.scss */
.what .container:after, .what .timeline:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  background: #67c39e;
  border-radius: 0.5em;
  left: 50%;
  margin-left: -0.5em;
}

@media only screen and (min-width: 40em) {
  /* line 130, ../_sass/_articles.scss */
  #examples article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  /* line 89, ../_sass/neat/grid/_span-columns.scss */
  #examples article:last-child {
    margin-right: 0;
  }
  /* line 133, ../_sass/_articles.scss */
  #examples article:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 55em) {
  /* line 130, ../_sass/_articles.scss */
  #examples article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
  }
  /* line 89, ../_sass/neat/grid/_span-columns.scss */
  #examples article:last-child {
    margin-right: 0;
  }
  /* line 8, ../_sass/base/_grid-settings.scss */
  #examples article:nth-child(2n) {
    margin-right: 2.35765%;
  }
  /* line 9, ../_sass/base/_grid-settings.scss */
  #examples article:nth-child(2n+1) {
    clear: none;
  }
  /* line 140, ../_sass/_articles.scss */
  #examples article:nth-child(3n + 3) {
    margin-right: 0;
  }
}
/* line 145, ../_sass/_articles.scss */
#examples h3 {
  text-align: center;
  margin: 0;
  padding: 0.5em 0.1em;
}

/* line 20, ../_sass/bourbon/addons/_clearfix.scss */
.videos::after {
  clear: both;
  content: "";
  display: table;
}

/* line 155, ../_sass/_articles.scss */
.price {
  float: right;
  color: #67c39e;
}

/* line 1, ../_sass/_animation.scss */
[data-anim] {
  box-shadow: 0 0 0.5em #333;
  margin-bottom: 1em;
  border-radius: 0.2em;
  overflow: hidden;
  background: white;
}

/* line 9, ../_sass/_animation.scss */
.videos article {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: center top;
  perspective-origin: center top;
}
/* line 14, ../_sass/_animation.scss */
.videos article [data-anim] {
  -webkit-transform-origin: center top 0;
  transform-origin: center top 0;
}

/* line 21, ../_sass/_animation.scss */
.timeline section > div {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: right center;
  perspective-origin: right center;
}
/* line 26, ../_sass/_animation.scss */
.timeline section > div [data-anim] {
  -webkit-transform-origin: right center 0;
  transform-origin: right center 0;
}
/* line 31, ../_sass/_animation.scss */
.timeline section:nth-child(even) > div {
  -webkit-perspective-origin: left center;
  perspective-origin: left center;
}
/* line 34, ../_sass/_animation.scss */
.timeline section:nth-child(even) > div [data-anim] {
  -webkit-transform-origin: left center 0;
  transform-origin: left center 0;
}
