---
layout: section
menu: Examples
order: 3
title: examples
heading: Examples of our work
---
<p>Below you&lsquo;ll find examples of our work</p>
<div class="videos">
{% for example in site.examples %}
  <article><div data-anim="rotatex">
    <h3>{{example.title}}</h3>
    <div class="video">
      {% if example.vimeo %}
      <iframe src="https://player.vimeo.com/video/{{ example.vimeo }}?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      {% elsif example.youtube %}
      <iframe src="https://www.youtube.com/embed/{{ example.youtube }}" frameborder="0" allow="accelerometer; encrypted-media; gyroscope;" allowfullscreen></iframe>
      {% endif %}
    </div>
  </div></article>
{% endfor %}
</div>
<p>We have a lot more examples of our work on our <a href="https://www.youtube.com/channel/{{ site.youtube_id }}">YouTube channel</a>, please feel free to take a look.</p>

