<div class="fix"></div>
<div class="container" id="contact">
  <h2>You make the memories, we make them&nbsp;last...</h2>
  <section>
    <p>For further information, any questions, to request a Showreel, discuss a booking or anything else related to filming your wedding, please contact&nbsp;us.</p>
    <p>If you would pefer to discuss your needs in person then please feel free to contact us to arrange a&nbsp;meeting.</p>
  </section>
  <ul>
    <li><a href="mailto:watchthebirdie@btinternet.com">watchthebirdie@btinternet.com</a></li>
    <li><a href="tel:+4407973130878">07973 130 878</a> (Mobile)</li>
    <li><a href="tel:+4401334850051">01334 850 051</a> (Studio)</li>
  </ul>
  <p>All content copyright &copy;{{ site.time | date: '%Y' }} Watch the Birdie. Wedding Video Scotland.</p>
</div>
