$menu-collapse-tiny: 20em;
$menu-collapse-small: 30em;
$menu-collapse-med: 38em;
$menu-collapse-lines: 50em;
$menu-collapse-large: 59em;

$menu-item-width: 6em;
$menu-item-height: 3em;
$menu-logo-small-width: 3.25em;
$menu-logo-width: 6.5em;


header {
  text-align: center;
  position: relative;
  border-bottom: 1px solid $medium-gray;
  background: url(../img/light_noise_diagonal.png);
  font-size: 1.2em;

/*  &:after {
    position: absolute;
    content: ' ';
    background: white;
    height: 1.5em;
    width: 3em;
    border-radius: 0 0 2.5em 2.5em;
    bottom: -1.3em;
    margin-left: -1.5em;
    left: 50%;
    z-index: 2;
    box-shadow: $base-box-shadow;
    display: none;
    background: url(../img/light_noise_diagonal.png);
    @media only screen and (min-width: $menu-collapse-lines) {
      display: block;
    }
    @media only screen and (min-width: $menu-collapse-large) {
      height: 2.5em;
      width: 5em;
      bottom: -2.3em;
      margin-left: -2.5em;
    }
  }*/
  h1 {
    font-size: 1.8em;
    line-height: 1em;
    margin: 0;
    color: $primary-color;
    padding: 0;
    visibility: hidden;
    @media only screen and (min-width: $menu-collapse-tiny) {
      font-size: 2em;
      visibility: visible;
      padding: 0.5em 1.5em 0 0;
    }
    @media only screen and (min-width: $menu-collapse-med) {
      font-size: 3em;
      padding: 0 0 0 0.35em;
    }
    @media only screen and (min-width: $menu-collapse-large) {
      padding: 0.5em 0 0 0;
    }
    span {
      @media only screen and (min-width: $menu-collapse-med) {
        font-size: 0.45em;
        vertical-align: text-top;
        padding: 0 0.2em 0 0.8em;
      }
      @media only screen and (min-width: $menu-collapse-large) {
        font-size: 0.8em;
        padding: 0;
        display: inline-block;
        vertical-align: top;
        margin-top: -0.2em;
      }
    }
    br {
      @media only screen and (min-width: $menu-collapse-med) {
        display: none;
      }
    }
  }
  nav {
    margin-top: 0.5em;
    border-top: 1px solid $primary-color;
    background: white;
    z-index: 4;
    position: relative;
    background: url(../img/light_noise_diagonal.png);
  }
  button {
    display: none;
  }
  ul {
    font-size: 1.2em;
    margin: auto;
    max-width: ($menu-item-width * 3) + 1;
    @media only screen and (min-width: $menu-collapse-lines) {
      max-width: 100%;
    }
    li {
      display: inline;
      margin-left: 0;
      a {
        color: $dark-gray;
        font-family: $menu-font-family;
        font-weight: 700;
        font-size: 0.8em;
        text-transform: uppercase;
        line-height: $menu-item-height;
        width: 100%;
        display: inline-block;
        transition: all 0.75s ease;
        &:hover {
          background: darken($primary-color, 10%);
          color: white;
        }
        @media only screen and (min-width: 14em) {
          width: $menu-item-width;
        }
      }
      @media only screen and (min-width: $menu-collapse-large) {
        &:nth-of-type(3) {
          margin-right: $menu-logo-width - 1;
        }
      }
    }
  }
  
  .logo {
    position: absolute;
    top: $small-spacing;
    z-index: 1;
  }
  .facebook, .vimeo {
    img {
      height: 3em;
    }
  }
  .facebook {
    left: $small-spacing;
  }
  .vimeo {
    right: $small-spacing;
  }
}
#w-logo {
  position: absolute;
  width: $menu-logo-small-width;
  height: $menu-logo-small-width;
  left: 50%;
  top: 0.4em;
  margin-left: $menu-logo-small-width / -2;
  z-index: 6;
  border: 0.18em solid $primary-color;
  border-radius: 50%;
  svg {
    height: 76%;
    margin-top: 12%;
  }
  @media only screen and (min-width: $menu-collapse-tiny) {
    margin-left: 1.6em;
    top: 1.6em;
  }
  @media only screen and (min-width: $menu-collapse-med) {
    margin-left: $menu-logo-small-width * (-0.5);
    top: 2.4em;
    background: url(../img/light_noise_diagonal.png);
  }
  @media only screen and (min-width: $menu-collapse-large) {
    width: $menu-logo-width;
    height: $menu-logo-width;
    margin-left: $menu-logo-width * (-0.5);
    top: 4em;
    border-width: 0.3em;
  }
}

#backtop {
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 4em;
  width: 4em;
  background: white;
  opacity: 0.8;
  text-transform: uppercase;
  font-family: $menu-font-family;
  font-weight: 700;
  box-shadow: $base-box-shadow;
  transition: right 1s ease;

  &.show {
    max-height: 5em;
  }
  &:hover {
    background: $primary-color;
    color: white;
  }
  &.hidden {
    right: -5em; // More than the width
  }
}
